# Test Report

<The goal of this document is to explain how the application was tested, detailing how the test cases were defined and what they cover>

# Contents

- [Test Report](#test-report)
- [Contents](#contents)
- [Dependency graph](#dependency-graph)
- [Integration approach](#integration-approach)
- [Tests](#tests)
- [Coverage](#coverage)
  - [Coverage of FR](#coverage-of-fr)
  - [Coverage white box](#coverage-white-box)

# Dependency graph

![alt text](media/dependency_graph.png)

# Integration approach

    1. DAO + DB
    2. Controller + DAO + DB
    3. Route + Controller + DAO + DB

# Tests

<in the table below list the test cases defined For each test report the object tested, the test level (API, integration, unit) and the technique used to define the test case (BB/ eq partitioning, BB/ boundary, WB/ statement coverage, etc)> <split the table if needed>

=====MICHELE
| Test case name | Object(s) tested | Test level | Technique used |
| :------------: | :--------------: | :--------: | :------------: |
| | | | |

=====FRANCESCO
| Test case name | Object(s) tested | Test level | Technique used |
| :------------: | :--------------: | :--------: | :------------: |
| | | | |

=====GIUSEPPE
| Test case name | Object(s) tested | Test level | Technique used |
| :------------: | :--------------: | :--------: | :------------: |
| | | | |

=====FLAVIANA
| Test case name | Object(s) tested | Test level | Technique used |
| :------------: | :--------------: | :--------: | :------------: |
| | | | |

=====END

# Coverage

## Coverage of FR

<Report in the following table the coverage of functional requirements and scenarios(from official requirements) >

| Functional Requirement | Test(s) |
| :--------------------: | :-----: |
|        **FR1**         |         |
|         FR1.1          |         |
|         FR1.2          |         |
|         FR1.3          |         |
|        **FR2**         |         |
|         FR2.1          |         |
|         FR2.2          |         |
|         FR2.3          |         |
|         FR2.4          |         |
|         FR2.5          |         |
|         FR2.6          |         |
|        **FR3**         |         |
|         FR3.1          |         |
|         FR3.2          |         |
|         FR3.3          |         |
|         FR3.4          |         |
|        FR3.4.1         |         |
|         FR3.5          |         |
|        FR3.5.1         |         |
|         FR3.7          |         |
|         FR3.8          |         |
|        **FR4**         |         |
|         FR4.1          |         |
|         FR4.2          |         |
|         FR4.3          |         |
|         FR4.4          |         |
|         FR4.5          |         |
|        **FR5**         |         |
|         FR5.1          |         |
|         FR5.2          |         |
|         FR5.3          |         |
|         FR5.4          |         |
|         FR5.5          |         |
|         FR5.6          |         |
|         FR5.7          |         |
|         FR5.8          |         |

| Scenario | Test(s) |
| :------: | :-----: |
|   1.1    |         |
|   1.2    |         |
|   1.3    |         |
|   1.4    |         |
|   2.1    |         |
|   2.2    |         |
|   3.1    |         |
|   3.2    |         |
|   3.3    |         |
|   4.1    |         |
|   4.2    |         |
|   4.3    |         |
|   4.4    |         |
|   4.5    |         |
|   5.1    |         |
|   5.2    |         |
|   6.1    |         |
|   6.2    |         |
|   6.3    |         |
|   6.4    |         |
|   6.5    |         |
|   7.1    |         |
|   7.2    |         |
|   7.3    |         |
|   8.1    |         |
|   8.2    |         |
|   8.3    |         |
|   8.4    |         |
|   8.5    |         |
|   8.6    |         |
|   8.7    |         |
|   8.8    |         |
|   8.9    |         |
|   9.1    |         |
|   9.2    |         |
|   10.1   |         |
|   10.2   |         |
|   10.3   |         |
|   10.4   |         |
|   10.5   |         |
|   10.6   |         |
|   10.7   |         |
|   10.8   |         |
|   10.9   |         |
|  10.10   |         |
|  10.11   |         |
|  10.12   |         |
|   11.1   |         |
|   11.2   |         |
|   12.1   |         |
|   13.1   |         |
|   14.1   |         |
|   15.1   |         |
|   16.1   |         |
|   17.1   |         |
|   17.2   |         |
|   18.1   |         |
|   19.1   |         |
|   19.2   |         |

## Coverage white box

Report here the screenshot of coverage values obtained with jest-- coverage
